<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doneasy.don.repository.project.CommentOfProjectRepository">

    <select id="findAllById" resultType="com.doneasy.don.dto.CommentOfProjectShowDto">
        select cm.id, cm.member_id as memberId, cm.content, cm.created_date, m.member_id
        from   commentofproject cm, project p, member m
        where  cm.member_id = m.id
        and    cm.project_id = p.id
        and    project_id = #{id}
    </select>

    <insert id="saveComment" parameterType="com.doneasy.don.domain.project.CommentOfProject">
        insert into commentofproject values(comment_seq.nextval, #{content}, 'ACTIVE', sysdate, 3, #{project_id});
    </insert>
</mapper>